
<div class="row">
	<div class="col-lg-12 mtop">
		<button type="button" class="btn btn-outline-primary cursor-normal width-full" disabled>Edytuj kontakt {{name + ' ' + surname}} :</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12 mtop">
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Imię: </span>
		  </div>
		  <input [(ngModel)]="contact.name" type="text" class="form-control" >
		</div>
	</div>
	<div class="col-lg-6 col-md-12 mtop">
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Nazwisko: </span>
		  </div>
		  <input [(ngModel)]="contact.surname" type="text" class="form-control" >
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12 mtop">
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Nr telefonu: </span>
		  </div>
		  <input [(ngModel)]="contact.phoneNumber" type="text" class="form-control" prefix="+48" matInput mask=" 000 000 000">
		</div>
	</div>

	<div class="col-lg-5 mtop">
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Grupy: </span>
		  </div>
		  <ng-multiselect-dropdown
  [placeholder]="'Wybierz grupę:'"
  [settings]="dropdownSettings"
  [data]="groupList"
  [(ngModel)]="groupsOfContact"
  
>
</ng-multiselect-dropdown>
		</div>


</div>

<div class="row">
	<div class="col-lg-12 mtop right">
		<button type="button" class="btn btn-success" (click)="updateContact()">Zapisz zmiany</button>
		<button (click)="toContactDetails()" type="button" class="btn btn-danger">Anuluj zmiany</button>
	</div>
</div>