<nav class="navbar navbar-expand navbar-light bg-primary">
  
  <button mat-button (click)="b.click()" class="btn btn-outline-light">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <span class="nav-item text-white text-xl-center ml-3">Nawigacja</span>

  <ul class="navbar-nav mx-auto">
    <li class="fa-2x text-white"><fa-icon [icon]="['fas', 'sms']"></fa-icon></li>
    <li class="text-white my-auto ml-2">Bramka SMS</li>
  </ul>

</nav>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
      <ul class="nav nav-pills flex-column">

        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'home']" size="lg"></fa-icon>
            Strona główna
          </a>
        </li>

        <!--Wiadomości-->
        <li class="nav-item">

          <a class="nav-link" routerLink="/messages" routerLinkActive="active" 
          #rlM="routerLinkActive">
            <fa-icon [icon]="['fas', 'comment']" size="lg"></fa-icon>
            Wiadomości
          </a>

          <ul class="nav flex-column sub-nav" [class.d-none]="!rlM.isActive">
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages/add" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                Nowa
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages/history" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'history']"></fa-icon>
                Historia
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages/list" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
                Planowane
              </a>
            </li>
          </ul>

        </li>
        <!--END Wiadomości-->

        <!--Kontakty-->
        <li class="nav-item">

          <a class="nav-link" routerLink="/contacts" routerLinkActive="active"
          #rlC="routerLinkActive">
            <fa-icon [icon]="['fas', 'address-book']" size="lg"></fa-icon>
            Kontakty
          </a>

          <ul class="nav flex-column sub-nav" [class.d-none]="!rlC.isActive">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacts/add" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                Nowy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacts/list" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
                Lista
              </a>
            </li>
          </ul>

        </li>
        <!--END Wiadomości-->

        <!--Grupy-->
        <li class="nav-item">

          <a class="nav-link" routerLink="/groups" routerLinkActive="active"
          #rlG="routerLinkActive">
            <fa-icon [icon]="['fas', 'users']" size="lg"></fa-icon>
            Grupy
          </a>

          <ul class="nav flex-column sub-nav" [class.d-none]="!rlG.isActive">
            <li class="nav-item">
              <a class="nav-link" routerLink="/groups/add" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                Nowa
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/groups/list" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
                Lista
              </a>
            </li>
          </ul>

        </li>
        <!--END Wiadomości-->

      </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <button class="invisible" #b (click)="sidenav.toggle()"></button>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



