
<div class="row">
	<div class="col-lg-12 mtop">
		<button type="button" class="btn btn-outline-primary cursor-normal width-full" disabled>Szczegóły grupy:</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12 mtop">
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Nazwa: </span>
		  </div>
		  <input type="text" class="form-control" value="{{group.name}}" disabled>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 mtop">
		<button type="button" class="btn btn-outline-primary cursor-normal width-full" disabled>Kontakty, które należą do grupy:</button>
	</div>
</div>

<!--lista-->
<div class="row">
	<ul class="list-group mtop">
	  <li class="list-group-item" *ngFor="let contact of contactsOfGroup">

	  	<div class="row" >
		  	<div class="col-md-6">
		  		<p>{{ contact.name + " " + contact.surname + ", " + contact.phoneNumber  }}</p>
		  	</div>
		  	<div class="col-md-6">
		  		<div class="right">
			  		<button (click)="toContactDetails(contact.id)" type="button" class="btn btn-info">Szczegóły kontaktu</button>
		  		</div>
		  	</div>
	  	</div>

	  </li>

	</ul>
</div>
<!--END lista-->

<div class="row">
	<div class="col-lg-12 mtop right">
		<button type="button" class="btn btn-success" (click)="toGroupEdit()">Edytuj</button>
		<button (click)="openModal()" type="button" class="btn btn-danger">Usuń</button>
		<button type="button" class="btn btn-info" (click)="toGroups()">Wszystkie grupy</button>
	</div>
</div>


<!-- Modal- po kliknięciu "usuń" -->
<div #modal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">UWAGA</h4>
        <button (click)="closeModal()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Czy na pewno chcesz usunąć grupę:</p>
        <p><b>{{ group.name }}</b></p>
      </div>
      <div class="modal-footer">
        <button (click)="deleteGroup()" type="button" class="btn btn-danger">Usuń</button>
        <button (click)="closeModal()" type="button" class="btn btn-outline-primary">Nie usuwaj</button>
      </div>
    </div>
  </div>
</div>
<!-- END modal -->